<div class="page-container">
    <div class="page-content" style="padding-top:0;">
        <div class="container">
            <div class="fade-in-up"> 
                <div class="row">
                    <div class="col-md-12">
                        <div class="secondLevel pull-left tableShow01" ui-sref=".abnormal" style="background:#ebebeb;">
                                <span class="getShoot01" style=" color:#666; font-size:16px;">偷漏电预警列表</span>&nbsp;
                                <span class="hinitNub getShoot01">[[lowNub]]</span>
                            </div>
                        <div class="filtrate pull-right" style="margin:10px 0;">
                            <!-- 一级目录 -->
                            <div class="selectPag pull-right" style="margin-right:0px;margin-top:0px;">
                                <span class="selectBtitle pull-left">地区选择</span>
                                <ul class="list-inline prod_size pull-left" style="position: relative;margin-bottom:6px;">
                                    <li style="padding-left:0;padding-right:0;">
                                      <div class="lg_search_box" style="width:160px;">
                                          <div class="lg_border_box" style="width:160px;">
                                              <input type="text" readonly="readonly" style="width:82%;" ng-model="sAbnOne">
                                              <small class="fa fa-unsorted"></small>
                                          </div>
                                          <div class="lg_down_box" style="width:160px;height:168px;">
                                                <p ng-repeat="row in oneList" title="[[row]]" ng-click="tableChang()">[[row]]</p>
                                          </div> 
                                      </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="portlet-body">
                            <table id="datatable-buttons" class="table table-striped table-bordered">
                                <thead style="background:#ccc;">
                                    <tr>
                                        <th ng-repeat="item in columnText">
                                            <span class="tableSpan">[[item]]</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody style="background:#fff;">
                                    <tr ng-repeat="row in importList"  repeat-finish>
                                        <td ng-repeat="item in row track by $index">
                                            <span class="tableSpan">[[item]]</span>
                                        </td>
                                        <td>
                                            <span class="tableSpan" style="cursor:pointer;">
                                                <a ng-click="delete(row)" class="checkA">查看</a>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <form id="form1" runat="server" class="pull-right">
                                    <div></div>
                                    <div>
                                        <ul class="pagination" id="pagination"></ul>
                                        <input type="hidden" id="PageCount" runat="server" />
                                        <input type="hidden" id="PageSize" runat="server" value="10" />
                                        <input type="hidden" id="countindex" runat="server" value="10"/>
                                        <input type="hidden" id="visiblePages" runat="server" value="7" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>