<!-- <div class="page-container">
<div class="page-container">
    <div class="page-head">
        <div class="container" style="background:#2C3748;padding-left:0;padding-right:0;">
            <div class="secondLevel pull-left tableShow01 " ui-sref=".enteringone">
                <span class="getShoot01">空调管理</span>&nbsp;
            </div>
            <div class="secondLevel pull-left tableShow03" ui-sref=".enteringbatch">
                <span class="getShoot03">基站管理</span>&nbsp;
            </div>
        </div>
    </div>
    <div class="page-content" style="padding-top:0;">
        <div class="container">
            <div class="fade-in-up"> 
                <div ui-view></div>
            </div>
        </div>
    </div>
</div> -->