<div class="page-container">
    <!-- 上 -->
<div class="page-container">
    <div class="page-head">
        <div class="container" style="background:#2C3748;padding-left:0;padding-right:0;">
         <div class="secondLevel pull-left tableShow03" ui-sref=".enteringbatch">
                <span class="getShoot03">机房管理</span>&nbsp;
            </div>
            <div class="secondLevel pull-left tableShow01 " ui-sref=".enteringone">
                <span class="getShoot01">空调管理</span>&nbsp;
            </div>
            <div class="secondLevel pull-left tableShow02" ui-sref=".enteringindividually">
                <span class="getShoot02">单独添加</span>&nbsp;
            </div> 
            <div class="secondLevel pull-left tableShow04" ui-sref=".enteringbulkimport">
                <span class="getShoot04">批量导入</span>&nbsp;
            </div>
        </div>
    </div>
    <!-- 下 -->
    <div class="page-content" style="padding-top:0;">
        <div class="container">
            <div class="fade-in-up"> 
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>