<div class="page-container container ddd equipmentresourcepower">
  <div class="page-head">开关电源设备统计表</div>
  <div class="page-content row">
    <div class="left">
       <!--选择日期-->
      <div class='search search1 	col-sm-8 col-md-6 col-lg-5'>
        <div class="form-group">
          <p>起始日期：</p>
          <!--指定 date标记-->
          <div class='input-group date' datetimepicker id='datetimepicker1'>
            <input type='text' class="form-control" ng-model="dateOne" />
            <span class="input-group-addon">  
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
        <div class="form-group">
          <p>结束日期：</p>
          <!--指定 date标记-->
          <div class='input-group date' datetimepicker id='datetimepicker2'>
            <input type='text' class="form-control" ng-model="dateTwo" />
            <span class="input-group-addon">  
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
      <div class="search search2 	col-sm-4 col-md-3 col-lg-2">
        <p>县市：</p>
        <div class="search2Div">
          <select name="cars" class="search2Input"  ng-model="area">
            <option value="">全部</option>
            <option >安陆</option>
            <option >大悟</option>
            <option >汉川</option>
            <option >孝昌</option>
            <option >孝南</option>
            <option >应城</option>
            <option >云梦</option>
          </select>
        </div>
      </div>
      <div class="search search3 	col-sm-4 col-md-3 col-lg-3">
        <p>基站名称：</p>
        <div class="search3Div">
          <input type="text" class="search3Input" placeholder="请输入基站名查询" ng-model="station">
        </div>
      </div>
      <div class="search search4  col-sm-4 col-md-4 col-lg-2">
        <p>基站地理位置：</p>
        <div class="search4Div">
          <select name="cars" class="search4Input"  ng-model="ground">
            <option value="">全部</option>
            <option >城区</option>
            <option >乡镇</option>
          </select>
        </div>
      </div>
      <div class="search search5 	col-sm-4 col-md-3 col-lg-3">
        <p>厂家：</p>
        <div class="search5Div">
          <input type="text" class="search5Input" placeholder="请输入厂家查询" ng-model="Produce">
        </div>
      </div>
      <div class="search search6 	col-sm-4 col-md-3 col-lg-3">
        <p>型号：</p>
        <div class="search6Div">
          <input type="text" class="search6Input" placeholder="机架/监控/整流模块型" ng-model="frame">
        </div>
      </div>
      <div class="search search7 	col-sm-4 col-md-3 col-lg-3">
        <p>容量：</p>
        <div class="search7Div">
          <input type="text" class="search7Input" placeholder="机架/整流模块型" ng-model="cap">
        </div>
      </div>

      <div class="search search8  col-sm-4 col-md-4 col-lg-3">
        <p>传输及基站是否共用：</p>
        <div class="search8Div">
          <select name="cars" class="search8Input"  ng-model="transmission">
            <option value="">全部</option>
            <option >是</option>
            <option >否</option>
          </select>
        </div>
      </div>
     
    </div>
    <div class="reight">
      <button type="button" class="btn btn1 btn-default" ng-click="search()">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>搜索
      </button>
      <button type="button" class="btn btn2 btn-default" ng-click="export()">
        <span class="glyphicon glyphicon-share" aria-hidden="true"></span>导出
      </button>
    </div>
  </div>

  <div class="page-foot col-md-12" id="boxx" style="width: 100%; overflow-x: hidden;overflow-y: hidden" ng-mouseover="boxx()" ng-mouseleave="boxxleave()" >
    <table id="datatable-buttons" class="table table-striped table-bordered">
      <thead style="background:#ccc;">
        <tr>
          <th nowrap="nowrap" style="width:71px">县市</th>
          <th nowrap="nowrap" style="width:142px">基站名称</th>
          <th nowrap="nowrap" style="width:142px">基站编码</th>
          <th nowrap="nowrap" style="width:142px">节点类型</th>
          <th nowrap="nowrap" style="width:142px">基站地理位置</th>
          
          <th nowrap="nowrap" style="width:142px">生产厂家</th>
          <th nowrap="nowrap" style="width:142px">机架型号</th>
          <th nowrap="nowrap" style="width:142px">机架容量（A）</th>
          <th nowrap="nowrap" style="width:142px">开始使用时间</th>
          <th nowrap="nowrap" style="width:142px">监控模块型号</th>

          <th nowrap="nowrap" style="width:142px">整流模块型号</th>
          <th nowrap="nowrap" style="width:142px">整流模块数量（块）</th>
          <th nowrap="nowrap" style="width:142px">模块容量</th>
          <th nowrap="nowrap" style="width:142px">负载电流（A）</th>
          <th nowrap="nowrap" style="width:142px">传输及基站是否共用</th>

          <th nowrap="nowrap" style="width:142px">是否有二次下电功能</th>
          <th nowrap="nowrap" style="width:142px">目前运行状态是否正常</th>
          <th nowrap="nowrap" style="width:142px">是否属于本地区停电频繁基站</th>
          <th nowrap="nowrap" style="width:142px">该站是否配置了固定自启动油机</th>
          <th nowrap="nowrap" style="width:142px">备注</th>

          <th nowrap="nowrap" style="width:142px">填报人</th>
        </tr>
      </thead>
      <tbody style="background:#fff;">
        <tr ng-repeat="x in items">
          <td>[[x.area]]</td>
          <td>[[x.station]]</td>
          <td>[[x.number]]</td>
          <td>[[x.node]]</td>
          <td>[[x.ground]]</td>

          <td>[[x.produce]]</td>
          <td>[[x.frame]]</td>
          <td>[[x.cap]]</td>
          <td>[[x.starttime]]</td>
          <td>[[x.monitoring]]</td>

          <td>[[x.rectification]]</td>
          <td>[[x.renumber]]</td>
          <td>[[x.modulecap]]</td>
          <td>[[x.loadele]]</td>
          <td>[[x.powerdown]]</td>

          <td>[[x.ifpowerdown]]</td>
          <td>[[x.ifstatus]]</td>
          <td>[[x.ifpowerdown]]</td>
          <td>[[x.oil]]</td>
          <td>[[x.desc]]</td>

          <td>[[x.people]]</td>
          
        </tr>
      </tbody>
    </table>

  </div>
  <div id="fenye" style="width:100%">
    <nav>
        <ul class="pagination" style="float: right;margin-right: 100px;">
            <li>
                <a ng-click="Previous()">
                    <span>上一页</span>
                </a>
            </li>
            <li ng-repeat="page in pageList" ng-class="{active: isActivePage(page)}" >
                <a ng-click="selectPage(page)" style="width:34px">[[page]]</a>
            </li>
            <li>
                <a ng-click="Next()">
                    <span>下一页</span>
                </a>
            </li>
        </ul>
    </nav>
  </div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
      <!--<div>[url][[url]{url}{{url}}<div>-->
        <img class="modal-img"  ng-src="[[imgUrl]]">
			</div>
		</div>
	</div>
</div>