
<div class="row">
    <div class="col-md-12">
        <h3 style="height:28px;line-height:28px;font-size:18px;font-weight:700;color:#7B777B;margin:10px 0;" class="pull-left">
            能耗分析
            <span style="font-size:14px;color:#73879C;font-weight:100;">[[baseStation]]</span>
        </h3>
        <div class="filtrate pull-right" style="margin:10px 0;">
             <div id="contrast" class="pull-left">
                 <input type="button" ng-click="cont(row)" name="row" class="rast" value="基站空调对比" style="width: 120px;height: 28px;margin-right:15px;text-align:center;border: 1px solid #ccc;color:#666;"/> 
            </div>
            <!-- 二级目录 -->
            <div class="selectPag pull-right" style="margin-right:0px;margin-top:0px;">
                <span class="selectBtitle pull-left">基站名称</span>
                <ul class="list-inline prod_size pull-left" style="position: relative;margin-bottom:6px;">
                    <li style="padding-left:0;padding-right:0;">
                      <div class="lg_search_box02" style="width:160px;">
                          <div class="lg_border_box02" style="width:160px;">
                              <input type="text" id="lg_down_box02" style="width:82%;" ng-model="sAbnTwo">
                              <small class="fa fa-unsorted"></small>
                          </div>
                          <div class="lg_down_box02" style="width:160px;height:168px;">
                                <p ng-repeat="row in twoList" title="[[row]]" ng-click="tableChang(row)">[[row]]</p>
                          </div>
                      </div>
                    </li>
                </ul>
            </div>
            <!-- 一级目录 -->
            <div class="selectPag pull-right" style="margin-right:12px;margin-top:0px;">
                <span class="selectBtitle pull-left">地区选择</span>
                <ul class="list-inline prod_size pull-left" style="position: relative;margin-bottom:6px;">
                    <li style="padding-left:0;padding-right:0;">
                      <div class="lg_search_box" style="width:160px;">
                          <div class="lg_border_box" style="width:160px;">
                              <input type="text" readonly="readonly" id="lg_down_box" style="width:82%;" ng-model="sAbnOne">
                              <small class="fa fa-unsorted"></small>
                          </div>
                          <div class="lg_down_box" style="width:160px;height:168px;">
                                <p ng-repeat="row in oneList" title="[[row]]" ng-click="twoChange(row)">[[row]]</p>
                          </div> 
                      </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="portlet-body">
            <table id="datatable-buttons" class="table table-striped table-bordered">
                <thead style="background:#ccc;">
                    <tr>
                       <th style="text-align:center;">
                            <label></label>
                       </th>
                        <th ng-repeat="item in columnText">
                           <span class="tableSpan">[[item]] 
                           <i ng-click="sort(1)" ng-if="item=='超出频率'" class="fa fa-caret-down" id="jx" ng-show="flagshow" style="font-size:18px;"></i>
                           <i ng-click="sorts(0)" ng-if="item=='超出频率'" class="fa fa-caret-up" id="sx" ng-show="flagshows" style="font-size:18px;"></i>
                           <i ng-click="sort1(0)" ng-if="item=='是否存在空调'" class="fa fa-caret-down" id="ch" ng-show="flagsort" style="font-size:18px;"></i>
                           <i ng-click="sort2(1)" ng-if="item=='是否存在空调'" class="fa fa-caret-up" id="cm" ng-show="flagsorts" style="font-size:18px;"></i>
                           </span>
                        </th>
                    </tr>
                </thead>
                <tbody style="background:#fff;">
                    <tr ng-repeat="row in importList"  repeat-finish>
                        <td style="text-align:center;">
                            <label><input class="check" name="checkbox" type="checkbox"/></label>
                       </td>
                        <td ng-repeat="item in row track by $index">
                            <span class="tableSpan" ng-if="$index == 3">[[item]]%</span>
                            <span class="tableSpan" ng-if="$index != 3">[[item]]</span>
                        </td>
                        <td>
                            <span class="tableSpan" style="cursor:pointer;">
                                <a ng-click="delete(row)" class="checkA">查看</a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form id="form1" runat="server" class="pull-right">
                    <div></div>
                    <div>
                        <ul class="pagination" id="pagination"></ul>
                        <input type="hidden" id="PageCount" runat="server" />
                        <input type="hidden" id="PageSize" runat="server" value="10" />
                        <input type="hidden" id="countindex" runat="server" value="10"/>
                        <input type="hidden" id="visiblePages" runat="server" value="7" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
