<div class="page-container container ddd insectSite">
  <div class="page-head">巡查站点统计表</div>
  <div class="page-content row">
    <div class="left">
      <div class='search search1 	col-sm-8 col-md-6 col-lg-6'>
        <div class="form-group">
          <p>起始日期：</p>
          <!--指定 date标记-->
          <div class='input-group date' datetimepicker id='datetimepicker1'>
            <input type='text' class="form-control" ng-model="dateOne" />
            <span class="input-group-addon">  
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
         
        </div>
        <div class="form-group">
          <p>结束日期：</p>
          <!--指定 date标记-->
          <div class='input-group date' datetimepicker id='datetimepicker2'>
            <input type='text' class="form-control" ng-model="dateTwo" />
            <span class="input-group-addon">  
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
      <div class="search search2 	col-sm-4 col-md-3 col-lg-3">
        <p>县市：</p>
        <div class="search2Div">
          <select name="cars" class="search2Input"  ng-model="area">
            <option value="">全部</option>
            <option >安陆</option>
            <option >大悟</option>
            <option >汉川</option>
            <option >孝昌</option>
            <option >孝南</option>
            <option >应城</option>
            <option >云梦</option>
          </select>
        </div>
      </div>

      <div class="search search3 	col-sm-4 col-md-3 col-lg-3">
        <p>基站名称：</p>
        <div class="search3Div">
          <input type="text" class="search3Input" placeholder="请输入基站名查询" ng-model="name">
        </div>
      </div>

      <div class="search search4 col-sm-4 col-md-3 col-lg-3">
        <p>费用核算类型：</p>
        <div class="search4Div">
          <select name="cars" class="search4Input"  ng-model="money">
            <option value="">全部</option>
            <option >无配套-VIP基站</option>
            <option >无配套-普通基站</option>
            <option >无配套普通站</option>
            <option >有配套-VIP基站</option>
            <option >有配套-VIP拉远基站</option>
            <option >有配套-拉远站（微蜂窝）</option>
            <option >有配套-普通基站</option>
          </select>
        </div>
      </div>
      <div class="search search5 col-sm-4 col-md-3 col-lg-3">
        <p>是否移交铁塔：</p>
        <div class="search5Div">
          <select name="cars" class="search5Input"  ng-model="yijiao">
            <option value="">全部</option>
            <option >未移交</option>
            <option >全部移交</option>
            <option >只交塔</option>
          </select>
        </div>
      </div>

      <div class="search search6 	col-sm-4 col-md-3 col-lg-3">
        <p>基站设备明细：</p>
        <div class="search6Div">
          <input type="text" class="search6Input" placeholder="请输入基站名查询" ng-model="desc">
        </div>
      </div>
    </div>
    <div class="reight">
      <button type="button" class="btn btn1 btn-default" ng-click="search()">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>搜索
      </button>
      <button type="button" class="btn btn2 btn-default" ng-click="export()">
        <span class="glyphicon glyphicon-share" aria-hidden="true"></span>导出
      </button>
    </div>
  </div>

  <div class="page-foot col-md-12">
    <table id="datatable-buttons" class="table table-striped table-bordered">
      <thead style="background:#ccc;">
        <tr>
          <th  >代维公司</th>
          <th  >县市</th>
          <th  >基站名称</th>
          <th  >基站设备明细</th>
          <th  >费用核算类型</th>
          <th  >是否移交电塔</th>
          <th  >交维月份</th>
          <th  >是否高等级站点</th>
          <th  >1-4月是否巡检</th>
          <th  >巡检时间</th>
        </tr>
      </thead>
      <tbody style="background:#fff;">
        <tr ng-repeat="x in items">
          <td>[[x.company]]</td>
          <td>[[x.area]]</td>
          <td>[[x.station]]</td>
          <td>[[x.desc]]</td>
          <td>[[x.type]]</td>
          <td>[[x.tower]]</td>
          <td>[[x.month]]</td>
          <td>[[x.rank]]</td>
          <td>[[x.inspect]]</td>
          <td>[[x.posttime]]</td>
        </tr>
      </tbody>
    </table>

  </div>
  
  <div id="fenye" style="width:100%">
    <nav>
        <ul class="pagination" style="float: right;margin-right: 100px;">
            <li>
                <a ng-click="Previous()">
                    <span>上一页</span>
                </a>
            </li>
            <li ng-repeat="page in pageList" ng-class="{active: isActivePage(page)}" >
                <a ng-click="selectPage(page)" style="width:34px">[[page]]</a>
            </li>
            <li>
                <a ng-click="Next()">
                    <span>下一页</span>
                </a>
            </li>
        </ul>
    </nav>
  </div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
      <!--<div>[url][[url]{url}{{url}}<div>-->
        <img class="modal-img"  ng-src="[[imgUrl]]">
			</div>
		</div>
	</div>
</div>