<div class="page-container container ddd meterReading">
  <div class="page-head">抄表数据统计</div>
  <div class="page-content row">
    <div class="left">
      <div class='search search1 	col-sm-8 col-md-6 col-lg-6'>
        <div class="form-group">
          <p>起始日期：</p>
          <!--指定 date标记-->
          <div class='input-group date' datetimepicker id='datetimepicker1'>
            <input type='text' class="form-control" ng-model="dateOne" />
            <span class="input-group-addon">  
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
        <div class="form-group">
          <p>结束日期：</p>
          <!--指定 date标记-->
          <div class='input-group date' datetimepicker id='datetimepicker2'>
            <input type='text' class="form-control" ng-model="dateTwo" />
            <span class="input-group-addon">  
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>

      <div class="search search2 	col-sm-4 col-md-3 col-lg-3">
        <p>县市：</p>
        <div class="search2Div">
          <select name="cars" class="search2Input"  ng-model="area">
            <option value="">全部</option>
            <option >安陆</option>
            <option >大悟</option>
            <option >汉川</option>
            <option >孝昌</option>
            <option >孝南</option>
            <option >应城</option>
            <option >云梦</option>
          </select>
        </div>
      </div>

      <div class="search search3 	col-sm-4 col-md-3 col-lg-3">
        <p>基站名称：</p>
        <div class="search3Div">
          <input type="text" class="search3Input" placeholder="请输入基站名查询" ng-model="name">
        </div>
      </div>

    </div>
    <!-- 搜索导出 -->
    <div class="reight">
      <button type="button" class="btn btn1 btn-default" ng-click="search()">
        <span class="glyphicon glyphicon-search" aria-hidden="true" ></span>搜索
      </button>
      <button type="button" class="btn btn2 btn-default" ng-click="export()">
        <span class="glyphicon glyphicon-share" aria-hidden="true"></span>导出
      </button>
    </div>
  </div>

  <!-- 列表  -->
  <div class="page-foot col-md-12">
    <table id="datatable-buttons" class="table table-striped table-bordered">
      <thead style="background:#ccc;">
        <tr>
          <th style="width:5%">县市</th>
          <th style="width:17%">基站名称</th>
          <th style="width:8%">基站编号</th>
          <th style="width:18%">经度</th>
          <th style="width:18%">纬度</th>
          <th style="width:11%">示数（kwh）</th>
          <th style="width:18%">抄表时间</th>
          <th style="width:5%">照片</th>
        </tr>
      </thead>
      <tbody style="background:#fff;">
        <tr ng-repeat="x in items">
          <td>[[x.area]]</td>
          <td>[[x.name]]</td>
          <td>[[x.number]]</td>
          <td>[[x.x_code]]</td>
          <td>[[x.y_code]]</td>
          <td>[[x.meter]]</td>
          <td>[[x.posttime]]</td>
          <td>
            <a  data-toggle="modal" data-target="#myModal" ng-click='getimg([x.pic])'>查看</a>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div id="fenye" style="width:100%">
    <nav>
        <ul class="pagination" style="float: right;margin-right: 100px;">
            <li>
                <a ng-click="Previous()">
                    <span>上一页</span>
                </a>
            </li>
            <li ng-repeat="page in pageList" ng-class="{active: isActivePage(page)}" >
                <a ng-click="selectPage(page)" style="width:34px">[[page]]</a>
            </li>
            <li>
                <a ng-click="Next()">
                    <span>下一页</span>
                </a>
            </li>
        </ul>
    </nav>
  </div>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
      <!--<div>[url][[url]{url}{{url}}<div>-->
        <img class="modal-img"  ng-src="[[imgUrl]]">
			</div>
		</div>
	</div>
</div>
