swagger: '2.0'
info:
  description: The API xiaogan_electric
  version: 0.0.1
  title: xiaogan API
host: api.xiaogan.com
basePath: /xiaogan
paths:
  /test:
    post:
      tags:
        - test
      summary: get the test data
      description: get the test data
      operationId: test
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: arg1
          in: formData
          description: the arg1 of user
          required: true
          type: string
        - name: arg2
          in: formData
          description: the arg2 of user
          required: false
          type: integer
      responses:
        '200':
          description: test
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.test
  /phone/reading:
    post:
      tags:
        - phone
      summary: send the msg of  meter reading
      description: send the meter data
      operationId: post_phone_reading
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - in: formData
          name: station
          required: true
          type: string
          description: station
        - in: formData
          name: x_code
          required: true
          type: string
          description: station
        - in: formData
          name: y_code
          required: true
          type: string
          description: station
        - in: formData
          name: dianbiao_id
          required: true
          type: string
          description: station
        - in: formData
          name: pic
          required: true
          type: string
          description: station
        - in: formData
          name: last
          required: true
          type: string
          description: station
        - in: formData
          name: meter
          required: true
          type: string
          description: station
        - in: formData
          name: now
          required: true
          type: string
          description: station
        - in: formData
          name: percentage
          required: true
          type: string
          description: station
        - in: formData
          name: reason
          required: true
          type: string
          description: station
      responses:
        '200':
          description: msg for return
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_phone
  /phone/clean:
    post:
      tags:
        - phone
      summary: send the msg of  meter clean
      description: send the meter data
      operationId: post_phone_clean
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - in: formData
          name: number
          description: data
          required: true
          type: string
        - in: formData
          name: pic
          required: true
          type: string
          description: station
        - in: formData
          name: station
          description: station
          required: true
          type: string
        - in: formData
          name: synergy
          description: synergy
          required: true
          type: string
        - in: formData
          name: address
          description: address
          required: true
          type: string
        - in: formData
          name: rank
          description: rank
          required: true
          type: string
        - in: formData
          name: jifang
          description: data
          required: true
          type: string
        - in: formData
          name: tieta
          description: data
          required: true
          type: string
        - in: formData
          name: jizhan
          description: data
          required: true
          type: string
        - in: formData
          name: height
          description: data
          required: true
          type: string
        - in: formData
          name: transfer
          description: transfer
          required: true
          type: string
        - in: formData
          name: shared
          description: shared
          required: true
          type: string
      responses:
        '200':
          description: msg for return
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_phone
  /phone/equipment:
    post:
      tags:
        - phone
      summary: send the msg of  equipment
      description: send the equipment data
      operationId: post_phone_equipment
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - in: formData
          name: type
          description: typec
          required: false
          type: string
        - in: formData
          name: area
          description: data
          required: false
          type: string
        - in: formData
          name: station
          description: data
          required: false
          type: string
        - in: formData
          name: number
          description: data
          required: false
          type: string
        - in: formData
          name: node
          description: data
          required: false
          type: string
        - in: formData
          name: ground
          description: data
          required: false
          type: string
        - in: formData
          name: produce
          description: data
          required: false
          type: string
        - in: formData
          name: frame
          description: data
          required: false
          type: string
        - in: formData
          name: cap
          description: data
          required: false
          type: string
        - in: formData
          name: starttime
          description: data
          required: false
          type: string
        - in: formData
          name: monitoring
          description: data
          required: false
          type: string
        - in: formData
          name: rectification
          description: data
          required: false
          type: string
        - in: formData
          name: renumber
          description: data
          required: false
          type: string
        - in: formData
          name: modulecap
          description: data
          required: false
          type: string
        - in: formData
          name: loadele
          description: data
          required: false
          type: string
        - in: formData
          name: transmission
          description: data
          required: false
          type: string
        - in: formData
          name: powerdown
          description: data
          required: false
          type: string
        - in: formData
          name: oil
          description: data
          required: false
          type: string
        - in: formData
          name: pic
          description: data
          required: false
          type: string
        - in: formData
          name: desc
          description: data
          required: false
          type: string
        - in: formData
          name: people
          description: data
          required: false
          type: string
        - in: formData
          name: phone
          description: data
          required: false
          type: string
        - in: formData
          name: tid
          description: data
          required: false
          type: string
        - in: formData
          name: group
          description: data
          required: false
          type: string
        - in: formData
          name: brand
          description: data
          required: false
          type: string
        - in: formData
          name: changebox
          description: data
          required: false
          type: string
        - in: formData
          name: jifang
          description: data
          required: false
          type: string
        - in: formData
          name: kttype
          description: data
          required: false
          type: string
        - in: formData
          name: ktpower
          description: data
          required: false
          type: string
        - in: formData
          name: ifmonitoring
          description: data
          required: false
          type: string
        - in: formData
          name: hbtime
          description: data
          required: false
          type: string
        - in: formData
          name: iftransmission
          description: data
          required: false
          type: string
        - in: formData
          name: ifpowerdown
          description: data
          required: false
          type: string
        - in: formData
          name: ifstatus
          description: data
          required: false
          type: string
        - in: formData
          name: xuhao
          description: data
          required: false
          type: string
      responses:
        '200':
          description: msg for return
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_phone
  /phone/tower:
    post:
      tags:
        - phone
      summary: send the msg of  equipment
      description: send the equipment data
      operationId: post_phone_tower
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - in: formData
          name: area
          description: data
          required: false
          type: string
        - in: formData
          name: tsharelist
          description: data
          required: false
          type: string
        - in: formData
          name: station
          description: data
          required: false
          type: string
        - in: formData
          name: address
          description: data
          required: false
          type: string
        - in: formData
          name: tnumber
          description: data
          required: false
          type: string
        - in: formData
          name: stype
          description: data
          required: false
          type: string
        - in: formData
          name: money
          description: data
          required: false
          type: string
        - in: formData
          name: ttpye
          description: data
          required: false
          type: string
        - in: formData
          name: hight
          description: data
          required: false
          type: string
        - in: formData
          name: stationtype
          description: data
          required: false
          type: string
        - in: formData
          name: transfer
          description: data
          required: false
          type: string
        - in: formData
          name: share
          description: data
          required: false
          type: string
        - in: formData
          name: tshare
          description: data
          required: false
          type: string
        - in: formData
          name: sharelist
          description: data
          required: false
          type: string
        - in: formData
          name: sharenumber
          description: data
          required: false
          type: string
        - in: formData
          name: sharedesc
          description: data
          required: false
          type: string
        - in: formData
          name: elesharelist
          description: data
          required: false
          type: string
        - in: formData
          name: rru
          description: data
          required: false
          type: string
        - in: formData
          name: antenna
          description: data
          required: false
          type: string
        - in: formData
          name: pic
          description: data
          required: false
          type: string
        - in: formData
          name: reading
          description: data
          required: false
          type: string
        - in: formData
          name: phone
          description: data
          required: false
          type: string
      responses:
        '200':
          description: msg for return
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_phone
  /phone/upload:
    post:
      tags:
        - phone
      summary: User Upload
      description: User Upload
      operationId: post_phone_up
      consumes:
        - multipart/form-data
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: files
          in: formData
          description: file data
          required: false
          type: file
      responses:
        '200':
          description: return status
          schema:
            $ref: '#/definitions/Product'
        '500':
          description: return status
          schema:
            $ref: '#/definitions/success'
      x-swagger-router-controller: swagger_server.controllers.xgdl_phone
  /phone/code:
    get:
      tags:
        - phone
      summary: phone code
      description: phone code
      operationId: get_phone_code
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: x_code
          description: page
          type: string
          required: true
        - in: query
          name: y_code
          description: page
          type: string
          required: true
        - in: query
          name: name
          description: page
          type: string
          required: true
        - in: query
          name: code
          description: page
          type: string
          required: true
        - in: query
          name: bh
          description: page
          type: string
          required: true
      responses:
        '200':
          description: return status
          schema:
            $ref: '#/definitions/Product'
        '500':
          description: return status
          schema:
            $ref: '#/definitions/success'
      x-swagger-router-controller: swagger_server.controllers.xgdl_phone
  /statistics/list:
    get:
      tags:
        - statistics
      summary: statistics list
      description: statistics list
      operationId: get_statistics_list
      consumes:
        - application/json
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: return status
          schema:
            $ref: '#/definitions/Product'
        '500':
          description: return status
          schema:
            $ref: '#/definitions/success'
      x-swagger-router-controller: swagger_server.controllers.xgdl_statistics
  /statistics/inspect:
    get:
      tags:
        - statistics
      summary: statistics list
      description: statistics list
      operationId: get_statistics_inspect
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: page
          description: page
          type: string
          required: true
        - in: query
          name: size
          description: size
          type: string
          required: true
        - in: query
          name: starttime
          description: size
          type: string
          required: false
        - in: query
          name: endtime
          description: size
          type: string
          required: false
        - in: query
          name: area
          description: size
          type: string
          required: false
        - in: query
          name: name
          description: size
          type: string
          required: false
        - in: query
          name: money
          description: size
          type: string
          required: false
        - in: query
          name: yijiao
          description: size
          type: string
          required: false
        - in: query
          name: desc
          description: size
          type: string
          required: false
      responses:
        '200':
          description: return status
          schema:
            $ref: '#/definitions/Product'
        '500':
          description: return status
          schema:
            $ref: '#/definitions/success'
      x-swagger-router-controller: swagger_server.controllers.xgdl_statistics
  /statistics/inspect/export:
    get:
      tags:
        - statistics
      summary: statistics list
      description: statistics list
      operationId: get_statistics_inspect_export
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: page
          description: page
          type: string
          required: true
        - in: query
          name: size
          description: size
          type: string
          required: true
        - in: query
          name: starttime
          description: size
          type: string
          required: false
        - in: query
          name: endtime
          description: size
          type: string
          required: false
        - in: query
          name: area
          description: size
          type: string
          required: false
        - in: query
          name: name
          description: size
          type: string
          required: false
        - in: query
          name: money
          description: size
          type: string
          required: false
        - in: query
          name: yijiao
          description: size
          type: string
          required: false
        - in: query
          name: desc
          description: size
          type: string
          required: false
      responses:
        '200':
          description: return status
          schema:
            $ref: '#/definitions/Product'
        '500':
          description: return status
          schema:
            $ref: '#/definitions/success'
      x-swagger-router-controller: swagger_server.controllers.xgdl_statistics
  /statistics/reading:
    get:
      tags:
        - statistics
      summary: statistics list
      description: statistics list
      operationId: get_statistics_reading
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: page
          description: page
          type: string
          required: false
        - in: query
          name: size
          description: size
          type: string
          required: false
        - in: query
          name: starttime
          description: starttime
          type: string
          required: false
        - in: query
          name: endtime
          description: endtime
          type: string
          required: false
        - in: query
          name: area
          description: area
          type: string
          required: false
        - in: query
          name: name
          description: name
          type: string
          required: false
        - in: query
          name: type
          description: type
          type: string
          required: false
        - in: query
          name: tower
          description: tower
          type: string
          required: false
        - in: query
          name: desc
          description: desc
          type: string
          required: false
      responses:
        '200':
          description: return status
          schema:
            $ref: '#/definitions/Product'
        '500':
          description: return status
          schema:
            $ref: '#/definitions/success'
      x-swagger-router-controller: swagger_server.controllers.xgdl_statistics
  /statistics/reading/export:
    get:
      tags:
        - statistics
      summary: statistics list
      description: statistics list
      operationId: get_statistics_reading_export
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: starttime
          description: starttime
          type: string
          required: false
        - in: query
          name: endtime
          description: endtime
          type: string
          required: false
        - in: query
          name: area
          description: area
          type: string
          required: false
        - in: query
          name: name
          description: name
          type: string
          required: false
        - in: query
          name: type
          description: type
          type: string
          required: false
        - in: query
          name: tower
          description: tower
          type: string
          required: false
        - in: query
          name: desc
          description: desc
          type: string
          required: false
      responses:
        '200':
          description: return status
          schema:
            $ref: '#/definitions/Product'
        '500':
          description: return status
          schema:
            $ref: '#/definitions/success'
      x-swagger-router-controller: swagger_server.controllers.xgdl_statistics
  '/statistics/inventory/{id}':
    get:
      tags:
        - statistics
      summary: statistics list
      description: statistics list
      operationId: get_statistics_inventory
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: id
          type: string
          required: true
        - in: query
          name: page
          description: starttime
          type: string
          required: true
        - in: query
          name: size
          description: endtime
          type: string
          required: true
        - in: query
          name: starttime
          description: starttime
          type: string
          required: false
        - in: query
          name: endtime
          description: endtime
          type: string
          required: false
        - in: query
          name: area
          description: area
          type: string
          required: false
        - in: query
          name: station
          description: station
          type: string
          required: false
        - in: query
          name: ground
          description: area
          type: string
          required: false
        - in: query
          name: produce
          description: area
          type: string
          required: false
        - in: query
          name: frame
          description: area
          type: string
          required: false
        - in: query
          name: cap
          description: area
          type: string
          required: false
        - in: query
          name: transmission
          description: name
          type: string
          required: false
        - in: query
          name: ifmonitoring
          description: type
          type: string
          required: false
        - in: query
          name: ktpower
          description: tower
          type: string
          required: false
        - in: query
          name: kttype
          description: desc
          type: string
          required: false
        - in: query
          name: people
          description: desc
          type: string
          required: false
      responses:
        '200':
          description: return status
          schema:
            $ref: '#/definitions/Product'
        '500':
          description: return status
          schema:
            $ref: '#/definitions/success'
      x-swagger-router-controller: swagger_server.controllers.xgdl_statistics
  '/statistics/inventory/export/{id}':
    get:
      tags:
        - statistics
      summary: statistics list
      description: statistics list
      operationId: get_statistics_inventory_export
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: id
          type: string
          required: true
        - in: query
          name: page
          description: starttime
          type: string
          required: true
        - in: query
          name: size
          description: endtime
          type: string
          required: true
        - in: query
          name: starttime
          description: starttime
          type: string
          required: false
        - in: query
          name: endtime
          description: endtime
          type: string
          required: false
        - in: query
          name: area
          description: area
          type: string
          required: false
        - in: query
          name: station
          description: station
          type: string
          required: false
        - in: query
          name: ground
          description: area
          type: string
          required: false
        - in: query
          name: produce
          description: area
          type: string
          required: false
        - in: query
          name: frame
          description: area
          type: string
          required: false
        - in: query
          name: cap
          description: area
          type: string
          required: false
        - in: query
          name: transmission
          description: name
          type: string
          required: false
        - in: query
          name: ifmonitoring
          description: type
          type: string
          required: false
        - in: query
          name: ktpower
          description: tower
          type: string
          required: false
        - in: query
          name: kttype
          description: desc
          type: string
          required: false
        - in: query
          name: people
          description: desc
          type: string
          required: false
      responses:
        '200':
          description: return status
          schema:
            $ref: '#/definitions/Product'
        '500':
          description: return status
          schema:
            $ref: '#/definitions/success'
      x-swagger-router-controller: swagger_server.controllers.xgdl_statistics
  '/statistics/tower/{id}':
    get:
      tags:
        - statistics
      summary: statistics list
      description: statistics list
      operationId: get_statistics_tower
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: id
          type: string
          required: true
        - in: query
          name: starttime
          description: starttime
          type: string
          required: false
        - in: query
          name: endtime
          description: endtime
          type: string
          required: false
        - in: query
          name: area
          description: area
          type: string
          required: false
        - in: query
          name: page
          description: page
          type: string
          required: false
        - in: query
          name: size
          description: size
          type: string
          required: false
        - in: query
          name: stationtype
          description: size
          type: string
          required: false
        - in: query
          name: ttpye
          description: size
          type: string
          required: false
        - in: query
          name: stype
          description: size
          type: string
          required: false
      responses:
        '200':
          description: return status
          schema:
            $ref: '#/definitions/Product'
        '500':
          description: return status
          schema:
            $ref: '#/definitions/success'
      x-swagger-router-controller: swagger_server.controllers.xgdl_statistics
  '/statistics/tower/export/{id}':
    get:
      tags:
        - statistics
      summary: statistics list
      description: statistics list
      operationId: get_statistics_tower_export
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: id
          type: string
          required: true
        - in: query
          name: starttime
          description: starttime
          type: string
          required: false
        - in: query
          name: endtime
          description: endtime
          type: string
          required: false
        - in: query
          name: area
          description: area
          type: string
          required: false
        - in: query
          name: page
          description: page
          type: string
          required: true
        - in: query
          name: size
          description: size
          type: string
          required: true
      responses:
        '200':
          description: return status
          schema:
            $ref: '#/definitions/Product'
        '500':
          description: return status
          schema:
            $ref: '#/definitions/success'
      x-swagger-router-controller: swagger_server.controllers.xgdl_statistics
  /statistics/clean:
    get:
      tags:
        - statistics
      summary: statistics list
      description: statistics list
      operationId: get_statistics_clean
      produces:
        - application/json
      parameters:
        - in: query
          name: starttime
          description: starttime
          type: string
          required: false
        - in: query
          name: endtime
          description: endtime
          type: string
          required: false
        - in: query
          name: area
          description: area
          type: string
          required: false
        - in: query
          name: rank
          description: rank
          type: string
          required: false
        - in: query
          name: station
          description: station
          type: string
          required: false
        - in: query
          name: tower
          description: tower
          type: string
          required: false
        - in: query
          name: gtype
          description: gtype
          type: string
          required: false
        - in: query
          name: transfer
          description: transfer
          type: string
          required: false
        - in: query
          name: page
          description: page
          type: string
          required: true
        - in: query
          name: size
          description: size
          type: string
          required: true
      responses:
        '200':
          description: return status
          schema:
            $ref: '#/definitions/Product'
        '500':
          description: return status
          schema:
            $ref: '#/definitions/success'
      x-swagger-router-controller: swagger_server.controllers.xgdl_statistics
  /statistics/clean/export:
    get:
      tags:
        - statistics
      summary: statistics list
      description: statistics list
      operationId: get_statistics_clean_export
      produces:
        - application/json
      parameters:
        - in: query
          name: starttime
          description: starttime
          type: string
          required: false
        - in: query
          name: endtime
          description: endtime
          type: string
          required: false
        - in: query
          name: area
          description: area
          type: string
          required: false
        - in: query
          name: rank
          description: rank
          type: string
          required: false
        - in: query
          name: station
          description: station
          type: string
          required: false
        - in: query
          name: tower
          description: tower
          type: string
          required: false
        - in: query
          name: gtype
          description: gtype
          type: string
          required: false
        - in: query
          name: transfer
          description: transfer
          type: string
          required: false
        - in: query
          name: page
          description: page
          type: string
          required: true
        - in: query
          name: size
          description: size
          type: string
          required: true
      responses:
        '200':
          description: return status
          schema:
            $ref: '#/definitions/Product'
        '500':
          description: return status
          schema:
            $ref: '#/definitions/success'
      x-swagger-router-controller: swagger_server.controllers.xgdl_statistics
  /function_1:
    get:
      tags:
        - function_1
      summary: get the function_1 data
      description: get the function_1 data
      operationId: function_1
      parameters: []
      responses:
        '200':
          description: function_1
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.test
  /insert_city:
    post:
      tags:
        - insert_city
      summary: get the insert_city data
      description: get the insert_city data
      operationId: insert_city
      parameters: []
      responses:
        '200':
          description: insert_city
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.test2
  /insert_met_reader:
    post:
      tags:
        - insert_met_reader
      summary: get the insert_met_reader data
      description: get the insert_met_reader data
      operationId: insert_met_reader
      parameters: []
      responses:
        '200':
          description: insert_met_reader
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.test2
  /city_sta:
    post:
      tags:
        - city_sta
      summary: get the city_sta data
      description: get the city_sta data
      operationId: city_sta
      parameters: []
      responses:
        '200':
          description: city_sta
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.test2
  /ways_audit:
    post:
      tags:
        - ways_audit
      summary: get the ways_audit data
      description: get the ways_audit data
      operationId: ways_audit
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: energy_way
          in: formData
          description: the energy_way of user
          required: true
          type: string
      responses:
        '200':
          description: ways_audit
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_energy_audit
  /ammeter_and_station_1:
    post:
      tags:
        - ammeter_and_station_1
      summary: get the ammeter_and_station_1 data
      description: get the ammeter_and_station_1 data
      operationId: ammeter_and_station_1
      parameters: []
      responses:
        '200':
          description: ammeter_and_station_1
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_energy_audit
  /get_sta_end_time:
    post:
      tags:
        - get_sta_end_time
      summary: get the get_sta_end_time data
      description: get the get_sta_end_time data
      operationId: get_sta_end_time
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: veidoo
          in: formData
          description: the veidoo of user
          required: true
          type: string
        - name: station_name
          in: formData
          description: the station_name of user
          required: true
          type: string
      responses:
        '200':
          description: get_sta_end_time
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_energy_audit
  /get_station_list:
    post:
      tags:
        - get_station_list
      summary: get the get_station_list data
      description: get the get_station_list data
      operationId: get_station_list
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: veidoo
          in: formData
          description: the veidoo of user
          required: true
          type: string
        - name: ways_audit
          in: formData
          description: the ways_audit of user
          required: true
          type: string
      responses:
        '200':
          description: get_station_list
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_energy_audit
  /ways_audit_child:
    post:
      tags:
        - ways_audit_child
      summary: get the ways_audit_child data
      description: get the ways_audit_child data
      operationId: ways_audit_child
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: ways_audit
          in: formData
          description: the ways_audit of user
          required: true
          type: string
      responses:
        '200':
          description: ways_audit_child
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_energy_audit
  /get_data_energy_audit:
    post:
      tags:
        - get_data_energy_audit
      summary: get the get_data_energy_audit data
      description: get the get_data_energy_audit data
      operationId: get_data_energy_audit
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: veidoo
          in: formData
          description: the veidoo of user
          required: true
          type: string
        - name: station_name
          in: formData
          description: the station_name of user
          required: false
          type: string
        - name: energy_way
          in: formData
          description: the energy_way of user
          required: true
          type: string
        - name: ways_audit
          in: formData
          description: the ways_audit of user
          required: true
          type: string
        - name: ways_audit_child
          in: formData
          description: the ways_audit_child of user
          required: true
          type: string
        - name: StartDate
          in: formData
          description: the StartDate of user
          required: false
          type: string
        - name: EndDate
          in: formData
          description: the EndDate of user
          required: false
          type: string
        - name: PageIndex
          in: formData
          description: the PageIndex of user
          required: false
          type: integer
      responses:
        '200':
          description: get_data_energy_audit
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_energy_audit
  /count_warning:
    post:
      tags:
        - count_warning
      summary: get the count_warning data
      description: get the count_warning data
      operationId: count_warning
      parameters: []
      responses:
        '200':
          description: count_warning
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_home
  /get_xy:
    post:
      tags:
        - get_xy
      summary: get the get_xy data
      description: get the get_xy data
      operationId: get_xy
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: colour
          in: formData
          description: the colour of user
          required: false
          type: string
        - name: sta_no
          in: formData
          description: the sta_no of user
          required: false
          type: string
        - name: choose_city
          in: formData
          description: the choose_city of user
          required: false
          type: string
      responses:
        '200':
          description: get_xy
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_home
  /sta_name_list:
    post:
      tags:
        - sta_name_list
      summary: get the sta_name_list data
      description: get the sta_name_list data
      operationId: sta_name_list
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: x
          in: formData
          description: the x of user
          required: true
          type: string
        - name: 'y'
          in: formData
          description: the y of user
          required: true
          type: string
        - name: choose_city
          in: formData
          description: the choose_city of user
          required: true
          type: string
      responses:
        '200':
          description: sta_name_list
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_home
  /sta_list_top10:
    post:
      tags:
        - sta_list_top10
      summary: get the sta_list_top10 data
      description: get the sta_list_top10 data
      operationId: sta_list_top10
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: more
          in: formData
          description: the more of user
          required: false
          type: string
        - name: choose_city
          in: formData
          description: the choose_city of user
          required: true
          type: string
      responses:
        '200':
          description: sta_list_top10
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_home
  /sta_details:
    post:
      tags:
        - sta_details
      summary: get the sta_details data
      description: get the sta_details data
      operationId: sta_details
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: sta_no
          in: formData
          description: the sta_no of user
          required: true
          type: string
        - name: err_type
          in: formData
          description: the err_type of user
          required: true
          type: string
      responses:
        '200':
          description: sta_details
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_home
  /sta_data_show:
    post:
      tags:
        - sta_data_show
      summary: get the sta_data_show data
      description: get the sta_data_show data
      operationId: sta_data_show
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: sta_name
          in: formData
          description: the sta_name of user
          required: true
          type: string
      responses:
        '200':
          description: sta_data_show
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_home
  /dev_data_insert:
    post:
      tags:
        - sta_data_show
      summary: get the dev_data_insert data
      description: get the dev_data_insert data
      operationId: dev_data_insert
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: sta_name
          in: formData
          description: the sta_name of user
          required: true
          type: string
        - name: dev_name
          in: formData
          description: the dev_name of user
          required: true
          type: string
        - name: count
          in: formData
          description: the count of user
          required: true
          type: string
        - name: power
          in: formData
          description: the power of user
          required: true
          type: string
      responses:
        '200':
          description: dev_data_insert
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_home
  /del_device:
    post:
      tags:
        - sta_data_show
      summary: get the del_device data
      description: get the del_device data
      operationId: del_device
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: id
          in: formData
          description: the id of user
          required: true
          type: string
      responses:
        '200':
          description: del_device
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_home
  /edit_devices:
    post:
      tags:
        - edit_devices
      summary: get the edit_devices data
      description: get the edit_devices data
      operationId: edit_devices
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: id
          in: formData
          description: the id of user
          required: true
          type: string
        - name: sta_name
          in: formData
          description: the sta_name of user
          required: true
          type: string
        - name: dev_name
          in: formData
          description: the dev_name of user
          required: false
          type: string
        - name: count
          in: formData
          description: the count of user
          required: false
          type: string
        - name: power
          in: formData
          description: the power of user
          required: false
          type: string
      responses:
        '200':
          description: edit_devices
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_home
  /jump_err_count:
    post:
      tags:
        - jump_err_count
      summary: get the jump_err_count data
      description: get the jump_err_count data
      operationId: jump_err_count
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: choose_city
          in: formData
          description: the choose_city of user
          required: true
          type: string
      responses:
        '200':
          description: jump_err_count
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_voltage_low
  /city_voltage_jump:
    post:
      tags:
        - city_voltage_jump
      summary: get the city_voltage_jump data
      description: get the city_voltage_jump data
      operationId: city_voltage_jump
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: choose_city
          in: formData
          description: the choose_city of user
          required: true
          type: string
      responses:
        '200':
          description: city_voltage_jump
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_voltage_low
  /table_jump_err:
    post:
      tags:
        - table_jump_err
      summary: get the table_jump_err data
      description: get the table_jump_err data
      operationId: table_jump_err
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: city
          in: formData
          description: the city of user
          required: true
          type: string
        - name: PageIndex
          in: formData
          description: the PageIndex of user
          required: true
          type: integer
      responses:
        '200':
          description: table_jump_err
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_voltage_low
  /city_device_management:
    post:
      tags:
        - city_device_management
      summary: get the city_device_management data
      description: get the city_device_management data
      operationId: city_device_management
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: choose_city
          in: formData
          description: the city of user
          required: true
          type: string
      responses:
        '200':
          description: city_device_management
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_room_list
  /sta_device_management:
    post:
      tags:
        - sta_device_management
      summary: get the sta_device_management data
      description: get the sta_device_management data
      operationId: sta_device_management
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: choose_city
          in: formData
          description: the city of user
          required: true
          type: string
      responses:
        '200':
          description: sta_device_management
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_room_list
  /room_table_list:
    post:
      tags:
        - room_table_list
      summary: get the room_table_list data
      description: get the room_table_list data
      operationId: room_table_list
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: choose_sta
          in: formData
          description: the sta_name of user
          required: true
          type: string
        - name: choose_city
          in: formData
          description: the city_name of user
          required: true
          type: string
        - name: sort
          in: formData
          description: the sort of user
          type: string
        - name: sort_air
          in: formData
          description: the sort of user
          type: string
        - name: PageIndex
          in: formData
          description: the PageIndex of user
          required: true
          type: integer
      responses:
        '200':
          description: table_device_management
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_room_list
  /air_duibi_table:
    post:
      tags:
        - air_duibi_table
      summary: get the air_duibi_table data
      description: get the air_duibi_table data
      operationId: air_duibi_table
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: choose_sta1
          in: formData
          description: the sta_name of user
          required: true
          type: string
        - name: choose_sta2
          in: formData
          description: the sta_name of user
          required: true
          type: string
      responses:
        '200':
          description: air_duibi_table
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_room_list
  /room_desc_show:
    post:
      tags:
        - room_desc_show
      summary: get the room_desc_show data
      description: get the room_desc_data_show data
      operationId: room_desc_show
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: choose_sta
          in: formData
          description: the usr choose sta
          type: string
      responses:
        '200':
          description: room_desc_show
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_room_list
  /table_device_management_chm:
    post:
      tags:
        - table_device_management_chm
      summary: get the table_device_management_chm date
      description: get the table_device_management_chm data
      operationId: table_device_management_chm
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: choose_city
          in: formData
          description: the usr choose city
          type: string
        - name: sta_name
          in: formData
          description: the usr choose sta
          type: string
        - name: PageIndex
          in: formData
          description: the PageIndex choose sta
          type: integer
      responses:
        '200':
          description: table_device_management_chm
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_device_management
  /room_device_table_list:
    post:
      tags:
        - room_device_table_list
      summary: get the room_device_table_list date
      description: get the room_device_table_list data
      operationId: room_device_table_list
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: choose_city
          in: formData
          description: the usr choose city
          type: string
        - name: PageIndex
          in: formData
          description: the PageIndex choose sta
          type: integer
      responses:
        '200':
          description: room_device_table_list
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_device_management
  /table_device_desc:
    post:
      tags:
        - table_device_desc
      summary: get the table_device_desc date
      description: get the table_device_desc data
      operationId: table_device_desc
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: sta_name
          in: formData
          description: the usr choose sta
          type: string
        - name: type
          in: formData
          description: the type choose sta
          type: string
      responses:
        '200':
          description: table_device_desc
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_device_management
  /table_device_desc_sb:
    post:
      tags:
        - table_device_desc_sb
      summary: get the table_device_desc_sb date
      description: get the table_device_desc_sb data
      operationId: table_device_desc_sb
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: sta_name
          in: formData
          description: the usr choose sta
          type: string
        - name: PageIndex
          in: formData
          description: the num of  PageIndex
          type: integer
      responses:
        '200':
          description: table_device_desc_sb
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_device_management
  /device_remove:
    post:
      tags:
        - device_remove
      summary: get the device_remove date
      description: get the device_remove data
      operationId: device_remove
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: choose_sta
          in: formData
          description: the usr choose sta
          type: string
          required: true
        - name: device_pow
          in: formData
          description: the usr choose device_pow
          type: string
          required: true
        - name: sb_type
          in: formData
          description: the usr choose sb_type
          type: string
          required: true
        - name: device_type
          in: formData
          description: the usr choose device_type
          type: string
          required: true
        - name: produce
          required: true
          in: formData
          description: the usr choose device_type
          type: string
      responses:
        '200':
          description: device_remove
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_device_management
  /choose_sb:
    get:
      tags:
        - choose_sb
      summary: get the choose_sb date
      description: get the choose_sb data
      operationId: choose_sb
      responses:
        '200':
          description: choose_sb
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_device_management
  /write_sb:
    post:
      tags:
        - write_sb
      summary: insert into mysql
      description: get the write_sb
      operationId: write_sb
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: city_list
          in: formData
          description: the city_list
          required: true
          type: string
        - name: area_list
          in: formData
          description: the area_list
          required: true
          type: string
        - name: sta_list
          in: formData
          description: the sta_list
          required: true
          type: string
        - name: type_list
          in: formData
          description: the type_list
          required: true
          type: string
        - name: pow_list
          in: formData
          description: the pow_list
          required: true
          type: string
        - name: produce_list
          in: formData
          description: the produce_list
          required: true
          type: string
        - name: sb_type
          in: formData
          description: the usr choose_type
          required: true
          type: string
      responses:
        '200':
          description: write_sb
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_device_management
  /write_show:
    get:
      tags:
        - write_show
      summary: get the write_show data
      description: get the write_show data
      operationId: write_show
      responses:
        '200':
          description: write_show
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_device_management
  /del_write:
    post:
      tags:
        - del_write
      summary: del the write_show data
      description: del the write_show data
      operationId: del_write
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: id
          type: string
          in: formData
          description: the usr choose id
          required: true
      responses:
        '200':
          description: del_write
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_device_management
  /add_one_city:
    get:
      tags:
        - sta_device_management
      summary: get the add_one_city data
      description: get the add_one_city data
      operationId: add_one_city
      responses:
        '200':
          description: add_one_city
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_adddevice_more
  /air_add_produce_make:
    post:
      tags:
        - air_add_produce_make
      summary: get the air_add_produce_make data
      description: get the air_add_produce_make data
      operationId: air_add_produce_make
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: choose_type
          in: formData
          description: the type of user
          required: true
          type: string
      responses:
        '200':
          description: air_add_produce_make
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_adddevice_more
  /add_sta_name:
    post:
      tags:
        - add_sta_name
      summary: get the add_sta_name data
      description: get the add_sta_name data
      operationId: add_sta_name
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: choose_city
          in: formData
          description: the city of user
          required: true
          type: string
      responses:
        '200':
          description: add_sta_name
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_adddevice_more
  /air_type:
    post:
      tags:
        - air_type
      summary: get air_type data
      description: ' get the air_type data'
      operationId: air_type
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: choose_air
          in: formData
          description: the city of user
          required: true
          type: string
        - name: produce
          in: formData
          description: the produce of user
          required: true
          type: string
      responses:
        '200':
          description: air_type
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_adddevice_more
  /add_one_import:
    post:
      tags:
        - add_one_import
      summary: get the add_one_import data
      description: get the add_one_import data
      operationId: add_one_import
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: choose_sta
          in: formData
          description: the choose_sta of user
          required: true
          type: string
        - name: choose_device
          in: formData
          description: the choose_device of user
          required: true
          type: string
        - name: choose_product
          in: formData
          description: the choose_product of user
          required: true
          type: string
        - name: choose_type
          in: formData
          description: the choose_type of user
          required: true
          type: string
        - name: choose_pow
          in: formData
          description: the choose_pow of user
          required: true
          type: string
        - name: choose_area
          in: formData
          description: the choose_area of user
          required: true
          type: string
      responses:
        '200':
          description: add_one_import
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_adddevice_more
  /one_room_desc:
    post:
      tags:
        - one_room_desc
      summary: get the one_room_desc data
      description: get the one_room_desc data
      operationId: one_room_desc
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: choose_sta
          in: formData
          description: the one_room_desc data
          required: true
          type: string
        - name: sta_pow
          in: formData
          description: the sta_pow data
          required: true
          type: string
      responses:
        '200':
          description: one_room_desc
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_room_list
  /update_room_desc:
    post:
      tags:
        - update_room_desc
      summary: get the update_room_desc
      description: get the update_room_desc
      operationId: update_room_desc
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: old_produce
          in: formData
          type: string
          description: the user choose old_produce
          required: true
        - name: old_type
          in: formData
          type: string
          description: the user choose old_type
          required: true
        - name: old_pow
          in: formData
          type: string
          description: the user choose old_pow
          required: true
        - name: new_produce
          in: formData
          type: string
          description: the user choose new_produce
          required: true
        - name: new_type
          in: formData
          type: string
          description: the user choose new_type
          required: true
        - name: new_pow
          in: formData
          type: string
          description: the user choose new_pow
          required: true
        - name: sb
          in: formData
          type: string
          description: the user choose sb
          required: true
        - name: choose_sta
          in: formData
          type: string
          description: the user choose choose_sta
          required: true
      responses:
        '200':
          description: update_room_desc
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_room_list
  /pre_city:
    post:
      tags:
        - pre_city
      summary: get the pre_city data
      description: get the pre_city data
      operationId: pre_city
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: choose_city
          in: formData
          description: the choose_city of user
          required: true
          type: string
      responses:
        '200':
          description: pre_city
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_power_pre
  /pre_sta_list:
    post:
      tags:
        - pre_sta_list
      summary: get the pre_sta_list data
      description: get the pre_sta_list data
      operationId: pre_sta_list
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: city
          in: formData
          description: the city of user
          required: true
          type: string
      responses:
        '200':
          description: pre_sta_list
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_power_pre
  /pre_time_list:
    post:
      tags:
        - pre_time_list
      summary: get the pre_time_list data
      description: get the pre_time_list data
      operationId: pre_time_list
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: sta_name
          in: formData
          description: the sta_name of user
          required: true
          type: string
      responses:
        '200':
          description: pre_time_list
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_power_pre
  /pre_chart:
    post:
      tags:
        - pre_chart
      summary: get the pre_chart data
      description: get the pre_chart data
      operationId: pre_chart
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: sta_name
          in: formData
          description: the sta_name of user
          required: true
          type: string
        - name: StartDate
          in: formData
          description: the StartDate of user
          required: true
          type: string
        - name: EndDate
          in: formData
          description: the EndDate of user
          required: true
          type: string
      responses:
        '200':
          description: pre_chart
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_power_pre
  /get_com_sta:
    post:
      tags:
        - get_com_sta
      summary: get the get_com_sta data
      description: get the get_com_sta data
      operationId: get_com_sta
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: choose_city
          in: formData
          description: the choose_city of user
          required: true
          type: string
      responses:
        '200':
          description: predict_method
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_same_sta_cmp
  /get_sta_end:
    post:
      tags:
        - get_sta_end
      summary: get the get_sta_end data
      description: get the get_sta_end data
      operationId: get_sta_end
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: station_name
          in: formData
          description: the station_name of user
          required: true
          type: string
      responses:
        '200':
          description: get_sta_end
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_same_sta_cmp
  /get_elc_line_chart:
    post:
      tags:
        - get_elc_line_chart
      summary: get the get_elc_line_chart data
      description: get the get_elc_line_chart data
      operationId: get_elc_line_chart
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: sta
          in: formData
          description: the sta of user
          required: true
          type: string
        - name: StartDate
          in: formData
          description: the StartDate of user
          required: true
          type: string
        - name: EndDate
          in: formData
          description: the EndDate of user
          required: true
          type: string
      responses:
        '200':
          description: get_elc_line_chart
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_same_sta_cmp
  /get_high_low_vol_1:
    post:
      tags:
        - get_high_low_vol_1
      summary: get the get_high_low_vol_1 data
      description: get the get_high_low_vol_1 data
      operationId: get_high_low_vol_1
      parameters: []
      responses:
        '200':
          description: get_high_low_vol_1
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_cluster_cmp
  /cluster_list:
    post:
      tags:
        - cluster_list
      summary: get the cluster_list data
      description: get the cluster_list data
      operationId: cluster_list
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: high_low_vol
          in: formData
          description: the high_low_vol of user
          required: true
          type: string
        - name: choose_city
          in: formData
          description: the choose_city of user
          required: true
          type: string
      responses:
        '200':
          description: cluster_list
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_cluster_cmp
  /get_time_by_cluster:
    post:
      tags:
        - get_time_by_cluster
      summary: get the get_time_by_cluster data
      description: get the get_time_by_cluster data
      operationId: get_time_by_cluster
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: cluster_name
          in: formData
          description: the cluster_name of user
          required: true
          type: string
        - name: high_low_vol
          in: formData
          description: the high_low_vol of user
          required: true
          type: string
        - name: choose_city
          in: formData
          description: the choose_city of user
          required: true
          type: string
      responses:
        '200':
          description: get_time_by_cluster
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_cluster_cmp
  /cluster_show:
    post:
      tags:
        - cluster_show
      summary: get the cluster_show data
      description: get the cluster_show data
      operationId: cluster_show
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: cluster_name
          in: formData
          description: the cluster_name of user
          required: true
          type: string
        - name: select_month
          in: formData
          description: the select_month of user
          required: true
          type: string
        - name: high_low_vol
          in: formData
          description: the high_low_vol of user
          required: true
          type: string
        - name: choose_city
          in: formData
          description: the choose_city of user
          required: true
          type: string
      responses:
        '200':
          description: cluster_show
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_cluster_cmp
  /cluster_details:
    post:
      tags:
        - cluster_details
      summary: get the cluster_details data
      description: get the cluster_details data
      operationId: cluster_details
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: cluster_name
          in: formData
          description: the cluster_name of user
          required: true
          type: string
        - name: select_month
          in: formData
          description: the select_month of user
          required: true
          type: string
        - name: high_low_vol
          in: formData
          description: the high_low_vol of user
          required: true
          type: string
        - name: sta_name
          in: formData
          description: the sta_name of user
          required: true
          type: string
        - name: PageIndex
          in: formData
          description: the PageIndex of user
          required: true
          type: integer
        - name: choose_city
          in: formData
          description: the choose_city of user
          required: true
          type: string
      responses:
        '200':
          description: cluster_details
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_cluster_cmp
  /get_high_low_vol:
    post:
      tags:
        - get_high_low_vol
      summary: get the get_high_low_vol data
      description: get the get_high_low_vol data
      operationId: get_high_low_vol
      parameters: []
      responses:
        '200':
          description: get_high_low_vol
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_same_kind_cmp
  /way_of_cmp:
    post:
      tags:
        - way_of_cmp
      summary: get the way_of_cmp data
      description: get the way_of_cmp data
      operationId: way_of_cmp
      parameters: []
      responses:
        '200':
          description: way_of_cmp
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_same_kind_cmp
  /child_way_cmp:
    post:
      tags:
        - child_way_cmp
      summary: get the child_way_cmp data
      description: get the child_way_cmp data
      operationId: child_way_cmp
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: way_of_cmp
          in: formData
          description: the way_of_cmp of user
          required: true
          type: string
        - name: high_low_vol
          in: formData
          description: the high_low_vol of user
          required: true
          type: string
      responses:
        '200':
          description: child_way_cmp
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_same_kind_cmp
  /time_choose:
    post:
      tags:
        - time_choose
      summary: get the time_choose data
      description: get the time_choose data
      operationId: time_choose
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: high_low_vol
          in: formData
          description: the high_low_vol of user
          required: true
          type: string
      responses:
        '200':
          description: time_choose
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_same_kind_cmp
  /same_kind_chart:
    post:
      tags:
        - same_kind_chart
      summary: get the same_kind_chart data
      description: get the same_kind_chart data
      operationId: same_kind_chart
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: way_of_cmp
          in: formData
          description: the way_of_cmp of user
          required: true
          type: string
        - name: child_way_cmp
          in: formData
          description: the child_way_cmp of user
          required: true
          type: string
        - name: date_choose
          in: formData
          description: the date_choose of user
          required: true
          type: string
        - name: high_low_vol
          in: formData
          description: the high_low_vol of user
          required: true
          type: string
        - name: choose_city
          in: formData
          description: the choose_city of user
          required: true
          type: string
      responses:
        '200':
          description: same_kind_chart
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_same_kind_cmp
  /details_show_tz:
    post:
      tags:
        - details_show_tz
      summary: get the details_show_tz data
      description: get the details_show_tz data
      operationId: details_show_tz
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: way_of_cmp
          in: formData
          description: the way_of_cmp of user
          required: true
          type: string
        - name: child_way_cmp
          in: formData
          description: the child_way_cmp of user
          required: true
          type: string
        - name: date_choose
          in: formData
          description: the date_choose of user
          required: true
          type: string
        - name: high_low_vol
          in: formData
          description: the high_low_vol of user
          required: true
          type: string
        - name: sta_name
          in: formData
          description: the sta_name of user
          required: true
          type: string
        - name: PageIndex
          in: formData
          description: the PageIndex of user
          required: true
          type: integer
        - name: choose_city
          in: formData
          description: the choose_city of user
          required: true
          type: string
      responses:
        '200':
          description: details_show_tz
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_same_kind_cmp
  /time_lag:
    post:
      tags:
        - time_lag
      summary: get the time_lag data
      description: get the time_lag data
      operationId: time_lag
      parameters: []
      responses:
        '200':
          description: time_lag
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_std_cmp
  /get_sta_list:
    post:
      tags:
        - get_sta_list
      summary: get the get_sta_list data
      description: get the get_sta_list data
      operationId: get_sta_list
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: time_lag
          in: formData
          description: the time_lag of user
          required: true
          type: string
        - name: choose_city
          in: formData
          description: the choose_city of user
          required: true
          type: string
      responses:
        '200':
          description: get_sta_list
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_std_cmp
  /get_time:
    post:
      tags:
        - get_time
      summary: get the get_time data
      description: get the get_time data
      operationId: get_time
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: time_lag
          in: formData
          description: the time_lag of user
          required: true
          type: string
        - name: sta_name
          in: formData
          description: the sta_name of user
          required: true
          type: string
      responses:
        '200':
          description: get_time
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_std_cmp
  /std_chart:
    post:
      tags:
        - std_chart
      summary: get the std_chart data
      description: get the std_chart data
      operationId: std_chart
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: time_lag
          in: formData
          description: the time_lag of user
          required: true
          type: string
        - name: sta_name
          in: formData
          description: the sta_name of user
          required: true
          type: string
        - name: StartDate
          in: formData
          description: the StartDate of user
          required: true
          type: string
        - name: EndDate
          in: formData
          description: the EndDate of user
          required: true
          type: string
      responses:
        '200':
          description: std_chart
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_std_cmp
  /get_month_cmp:
    post:
      tags:
        - get_month_cmp
      summary: get the get_month_cmp data
      description: get the get_month_cmp data
      operationId: get_month_cmp
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: sta_name
          in: formData
          description: the sta_name of user
          required: true
          type: string
      responses:
        '200':
          description: get_month_cmp
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_std_cmp
  /get_weekend_cmp:
    post:
      tags:
        - get_weekend_cmp
      summary: get the get_weekend_cmp data
      description: get the get_weekend_cmp data
      operationId: get_weekend_cmp
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: sta_name
          in: formData
          description: the sta_name of user
          required: true
          type: string
      responses:
        '200':
          description: get_weekend_cmp
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_std_cmp
  /get_high_low_cmp:
    post:
      tags:
        - get_high_low_cmp
      summary: get the get_high_low_cmp data
      description: get the get_high_low_cmp data
      operationId: get_high_low_cmp
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: sta_name
          in: formData
          description: the sta_name of user
          required: true
          type: string
      responses:
        '200':
          description: get_high_low_cmp
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_std_cmp
  /get_time_list:
    post:
      tags:
        - get_time_list
      summary: get the get_time_list data
      description: get the get_time_list data
      operationId: get_time_list
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: time_lag
          in: formData
          description: the time_lag of user
          required: true
          type: string
        - name: sta_name
          in: formData
          description: the sta_name of user
          required: true
          type: string
      responses:
        '200':
          description: get_time_list
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_std_cmp
  /get_sta_chart:
    post:
      tags:
        - get_sta_chart
      summary: get the get_sta_chart data
      description: get the get_sta_chart data
      operationId: get_sta_chart
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: time_lag
          in: formData
          description: the time_lag of user
          required: true
          type: string
        - name: sta_name
          in: formData
          description: the sta_name of user
          required: true
          type: string
        - name: get_time
          in: formData
          description: the get_time of user
          required: true
          type: string
      responses:
        '200':
          description: get_sta_chart
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_std_cmp
  /err_sta_details:
    post:
      tags:
        - err_type
      summary: get the err_sta_details data
      description: get the err_sta_details data
      operationId: err_sta_details
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: PageIndex
          in: formData
          description: the PageIndex of user
          required: true
          type: integer
      responses:
        '200':
          description: err_sta_details
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_err_show
  /err_chart_show:
    post:
      tags:
        - err_type
      summary: get the err_chart_show data
      description: get the err_chart_show data
      operationId: err_chart_show
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: sta_no
          in: formData
          description: the sta_no of user
          required: true
          type: string
      responses:
        '200':
          description: err_chart_show
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_err_show
  /predict_method:
    post:
      tags:
        - predict_method
      summary: get the predict_method data
      description: get the predict_method data
      operationId: predict_method
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: ammeter_or_station
          in: formData
          description: the ammeter_or_station of user
          required: true
          type: string
      responses:
        '200':
          description: predict_method
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_energy_prediction
  /ammeter_and_station:
    post:
      tags:
        - ammeter_and_station
      summary: get the ammeter_and_station data
      description: get the ammeter_and_station data
      operationId: ammeter_and_station
      parameters: []
      responses:
        '200':
          description: ammeter_and_station
          schema:
            $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Product'
      x-swagger-router-controller: swagger_server.controllers.xgdl_energy_prediction
  /get_ammeter_station_list:
    post:
      tags:
        - get_ammeter_station_list
      summary: get the get_ammeter_station_list data
      description: get the get_ammeter_station_list data
      operationId: get_ammeter_station_list
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: veidoo
          in: formData
          description: the veidoo of user
[...]
